* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(1, 1, 48);
  color: white;
  text-align: center;
}

header {
  font-size: 50px;
  padding: 25px 25px;
}

p {
  font-size: 20px;
}

#create-title {
  padding: 50px 15px 75px 15px;
  font-size: 40px;
}

.choices {
  margin: 5px 5px;
}

#charLabel {
  padding: 25px 25px;
}